$dark-gray-color: #353535;
$dark-turquoise-color: #3C6E71;
$indigo-dye-color: #284B63;
$dark-indigo-dye-color: #1d3647;
$darken-indigo-dye-color: #152733;
$light-gray-color: #D9D9D9;
$error-color: #B50900;
$error-darker-color: #9C0800;
$white-color: #ffffff;
